* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}


.container {
    margin: 0 auto;
    width: 800px;
    margin-top: 20vh;
    /* display: flex;
    flex-direction: column;
    text-align: center; */
}

#timer {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(166, 166, 166);
 }

#buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    justify-content: space-between;
}

.btn {
    width: 30%;
    padding: 10px;
    display: inline-block;
    border: 2px solid black;
    cursor: pointer;
}